/*
Name(s): Trevor Crow
Date: 10/21/2018
Description: homework 5 layout
*/
*{
	font-family:"arial";
}
table{
	background-color:#1bd30a;
	border-color:black;
}
td{
	background-color:white;
}
.student_id, .name{
	background-color:#2385db;
}