/*
Name(s): Trevor Crow
Date: 10/1/2018
Description: layout for home page and travel page
*/
*{
	font-family:Arial;
}
header{
	height:100px;
	width:100vw;
	margin-top:-8px;
	margin-left:-.4vw;
}
nav{
	display:table;
	margin:0 auto;
}
nav ul{
	list-style-type:none;
}
nav ul li.padding{
	padding:10px 35px;
}
#search{
	position:absolute;
	right:-20px;
	top:0;
}
a.no-text-decoration{
	text-decoration:none;
	color:black;
}
li.border-bottom-red:hover{
	border-bottom-style:solid;
	border-bottom-width:3px;
	border-bottom-color:red;
}
.icon{
	width:75px;
	height:75px;
}
.no-border-style{
	border-bottom-style:none;
	border-bottom-width:0px;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.text-center{
	text-align:center;
}
div.center{/*Has top margin*/
	margin:0 auto;
	margin-top:125px;
	width:65%;
	height:20px;
}
.background-color-lgreen{
	background-color:#a2c2ab;
}
.background-color-dgreen{
	background-color:#8ab59a;
}
.background-color-biege{
	background-color:#e5e0cf;
}
.position-relative{
	position:relative;
}
.position-absolute{
	position:absolute;
}

.height-50px{
	height:50px;
}
.width-70{
	width:70%;
}
.width-50{
	width:50%;
}
.width-30{
	width:30%;
}
.width-100{
	width:100%;
}
.height-100{
	height:100%;
}
.word-break{
	word-break:break-word;
}

section.home{
	margin-left:20%;
	margin-top:80px;
}
article.home{
	margin-left:50px;
	width:50%;
}
article.home h1{
	font-size: 225%;
    line-height: 50px;
}
article.home h2{
    line-height: 19px;
	color:white;
}
.buy-btn{
    background: url(button.png) no-repeat;
    width: 175px;
    background-size: 100%;
    font-size: 19px;
    line-height: 54px;
    height: 54px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    min-width: 200px;
}
.buy-btn:hover{
	color:#8ab59a;
}
#red-book{
	width:200px;
	height:300px;
}
section.home-side{
	margin-top:10%;
}
section.home-side p{
	color:white;
}
#separator{
	margin:5% 25%;
	width:50%;
}
#reviewer{
	margin-top:5%;	
}

footer{
	width:65%;
	height:150px;
	margin:0 auto;
	background-color:#e5e0cf;
}
.vertical-align-center{
	padding:3%;
}

#travel{
	margin-top:32px;
}
#travel section{
	float:left;
	width:60%;
}
#travel section *{
	margin-left:5%;
}
#travel section h1{
	font-size:300%;
	line-height:15px;
}
#travel section p{
	line-height:1.6;
}
#travel aside{
	background: url("red-box.png") no-repeat;
	margin:30px 5%;
	width:275px;
	height:275px;
	background-size:100% 100%;
}
#travel aside *{
	display:table;
	margin:5% auto;
}
#travel aside ul{
	list-style: none;
	float:left;
	color:white;
	text-align:left;
}
#travel aside li{
	margin-left:0;
}
#travel aside li:before{
	content: "\2713";
	color: white;
	margin-right:.5em;
	font-weight: bold;
}
#travel article{
	margin:5%;
	height:325px;
}
#travel article div{
	background-color:white;
	width:45%;
	height:100%;
}
#travel article div *{
	padding:5%;
}
#travel article div h1{
	line-height:20px;
	margin:0;
}
#travel article div p{
	margin:-25px 0 0 0;
	line-height:1.6;
}
#btn{
	margin-top:5px;
	margin-left:5%;
	text-decoration:none;
	color:white;
	border-style:none;
}

/*main*/
#main{
	height:500px;
}
#main1{
	height:775px;
}

/*arrow box*/
.triangle {
    width: 0;
    height: 0;
    border: solid 25px;
    border-color: transparent transparent transparent #e5e0cf;
}
.box{
	width:150px;
	height:50px;
	background-color:#e5e0cf;
}
#arrow-box{
	margin-top: 30px;
	margin-left:-20px;
}


/*wave stuff*/
.wave{
  height: 50px;
  position: relative;
}
.wave::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, #e5e0cf 13px);
}
.wave::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, #e5e0cf 12px, transparent 13px);
}
.wave1{
  height: 50px;
  position: relative;
}
.wave1::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, #a2c2ab 13px);
}
.wave1::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, #a2c2ab 12px, transparent 13px);
}
.wave2{
  height: 50px;
  position: relative;
}
.wave2::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, #8ab59a 13px);
}
.wave2::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, #8ab59a 12px, transparent 13px);
}