*{border-sizing:border-box;}
body{
	font-family: "Comic Sans MS";
	background-color: rgb(50,50,255);
	text-shadow: 2px 2px black;
	color:white;
}
header{
	background-color: rgb(120,120,255);
	text-align: center;
	border-radius:23px;
}
section:after{
	content: "";
	display: table;
	clear: both;
}
article {
	width: auto;
	height: auto;
	margin:70px;
	margin-top:50px;
	background-color: rgb(160,160,255);
	font-family: Arial;
	border-radius:23px;
	font-size:32pt;
}
footer{
	bottom: 0;
	height: 75px;
	width:99%;
	position:absolute;
	background-color: rgba(160,160,255,.8);
	background-image: url("https://images8.alphacoders.com/690/690881.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}
p{
	text-align:center;
}
p mark{
	background-color: rgba(150,102,150,.6);
	color:white;
}
ul{
	list-style-type:none;
	margin-left:60px;
	margin-right:60px;
	border-radius:12px;
	padding:0;
	overflow:hidden;
	background-color: rgba(152,250,152,.8);
}
li{
	float:right;
	text-align: center;
	padding: 10px;
}
li button{
	background-color:rgb(52,150,52);
	border-color:rgb(32,130,32);
	text-align:center;
	border-radius:8px;
	text-shadow: 2px 2px black;
	color:white;
	font-family: "Comic Sans MS";
}
li button:hover{
	background-color:rgb(152,200,152);
	border-color:rgb(82,180,82);
}
img{
	border-radius:23px;
	filter: blur(2px);
	width:65px;
	height:65px;
}
img.left{
	float:left;
	transform: scaleX(-1);
}
img.right{
	float:right;
}

@media(max-width:600px){
	nav,article(
		width: 100px;
		height: auto;
	)
}