/*
Name(s): Trevor Crow
Date: 10/30/2018
Description: custom CSS for crow_hw_6.html 
*/
*{
    font-family:"arial";
    color:white;
    text-align:center;
}
body{
    background-color:black;
}
h1{
    color:lightgreen;
    word-break:break-word;
}
h2{
    color:green;
}
ul{
    list-style-type: none;
    padding:0;
    font-size:16pt;
}
header{
    position: fixed;
    right:1%;
}
button{
    background-color:#d66444;
    border-color:#96391f;
    border-radius: 4px;
    margin-right:5px;
}
section{
    width:45%;
    margin:0 auto;
}
@media only screen and (max-width:650px){
    header{
        right:10%;
        width:15px;
    }
    button{
        margin:3px 0;
    }
}